<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>02_PhanVanHiep_pro_test_servlet</title>
</head>
<body>
	<center>
		<h3>First Servlet hiep</h3>
		<form action="hello" method="get">
			<input type="submit" value="Submit">
		</form>
	</center>
	<hr>
	<form method="get" action="login">
		<center>
			<h1>Check Login</h1>
			<label for="Uname"> Username </label> <input name="Uname" type="text"><br>
			<label for="Upass"> Password </label> <input name="Upass" type="text"><br>
			<button type="submit">Login</button>
		</center>
</body>
</html>